{%extends 'base.html'%}{% block icons %} {%endblock icons %} {% block footer%}
{% endblock footer%} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/hms.css' %}" />
<div class="container">
  <div class="row">
    <div class="card-columns">
      <blockquote class="blockquote mb-0 card-body">
        <div class="card">
          <a href="/seperateroom/Normal"
            ><img
              class="card-img-top img-fluid"
              src="{% static 'images/Normal_home.jpg'%}"
              alt="Card image"
              width="18rem"
          /></a>
        </div>
        <p class="text-center h3 text-warning">Normal Rooms</p>
      </blockquote>
      <blockquote class="blockquote mb-0 card-body">
        <div class="card">
          <a href="/seperateroom/Delux"
            ><img
              class="card-img-top img-fluid"
              src="{% static 'images/delux room2.jpg'%}"
              alt="Card image"
              width="18rem"
          /></a>
        </div>
        <p class="text-center h3 text-warning">Delux Rooms</p>
      </blockquote>
      <blockquote class="blockquote mb-0 card-body">
        <div class="card">
          <a href="/seperateroom/Premium"
            ><img
              class="card-img-top img-fluid"
              src="{% static 'images/premium2.jpg'%}"
              alt="Card image"
              width="18rem"
          /></a>
        </div>
        <p class="text-center h3 text-warning">Premium Rooms</p>
      </blockquote>
    </div>
  </div>
</div>
{% endblock content %}
