{%extends 'base.html'%}{% block icons %} {%endblock icons %} } {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/hms.css' %}" />
<body>
  <div class="container my-5 pb-5">
    <div class="card">
      <div class="row mx-2 my-2">
        {%for data in room%} {% if data.id not in book %}
        <aside class="col-sm-5">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div>
                <a href="#"><img src="{{data.image.url}}"class="img-fluid" alt="Responsive image" /></a>
              </div>
            </div>
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <aside class="col-sm-7 my-5 py-3">
          <article class="card-body p-3">
            <h3 class="title mb-3">{{data.Category}} {{data.Room_number}}</h3>

            <p class="price-detail-wrap">
              <span class="price h3 text-warning">
                <span class="currency">NRP $</span
                ><span class="num">{{data.Price}}</span>
              </span>
              <span>/per night</span>
            </p>
            <!-- price-detail-wrap .// -->
            <dl class="item-property">
              <dt>Description</dt>
              <dd>
                <p>{{data.description}}</p>
              </dd>
            </dl>
            <dl class="param param-feature">
              <dt>Capacity</dt>
              <dd>{{data.Capacity}}</dd>
            </dl>
            <!-- item-property-hor .// -->
            <dl class="param param-feature">
              <dt>Beds</dt>
              <dd>{{data.Beds}}</dd>
            </dl>
            <hr />
            <div class="row">
              <div class="col-sm-5">
                <form action="" method="POST">
                  {{form.as_p}} {% csrf_token %}           
              </div>
            </div>
            <!-- row.// -->
            <hr />
            <button type="submit" class="btn btn-info">Book Now</button>
              </a>
            </form>
          </article>
          <!-- card-body.// -->
        </aside>
        {% endif %} {%endfor%}
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
  </div>
  <!--container.//-->
</body>
{% endblock content %}
