@font-face {
  font-family: great_wishes;
  src: url("/static/fonts/Great Wishes.otf");
}
.huge_text {
  font-family: great_wishes;
  letter-spacing: 15px;
  text-shadow: 7px 7px #333300;
  opacity: 0.9;
  position: absolute;
  top: 40%;
  left: 25%;
  color: white;
  font-size: 110px;
  font-weight: bold;
  -webkit-transform: rotate(-25.5deg);
}
/* added line in bottom content */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
