@font-face {
  font-family: great_wishes;
  src: url("/static/fonts/Great Wishes.otf");
}
.culture_titles {
  font-family: great_wishes;
  letter-spacing: 15px;
  text-shadow: 7px 7px #333300;
  opacity: 0.9;
  position: absolute;
  top: 45%;
  left: 45%;
  color: white;
  font-size: 110px;
  font-weight: bold;
  -webkit-transform: rotate(-25.5deg);
}
.page_titles {
  font-family: great_wishes;
  letter-spacing: 15px;
  text-shadow: 7px 7px #333300;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 110px;
  font-weight: bold;
  -webkit-transform: rotate(-25.5deg);
}
.about {
  position: relative;
}
.about h2 {
  font-size: 18px;
  letter-spacing: 15px;
  text-transform: uppercase;
}
#project .project-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
#project .project-item .project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all ease-in-out 0.4s;
}
#project .project-item .project-overlay .project-info {
  padding: 12em 0;
}
.project-info h1 {
  color: #fff;
  margin: 0;
}
.project-info h4 {
  color: #d9d9d9;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.2;
  margin-top: 0;
}
/* after hove remove opacity 0 to 1 */
#project .project-item:hover .project-overlay {
  opacity: 1;
}
.project-item img {
  transition: all ease-in-out 0.4s;
}
/* image soom in effect */
.project-item:hover img {
  transform: scale(1.1);
}
/* taken from nolimits4web/swiper */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: center;
}
.swiper-slide .text h3 {
  font-weight: 200;
}
.swiper-slide .text span {
  font-weight: 500;
}
/* content */
.how-section1 {
  margin-top: -15%;
  padding: 10%;
}
.how-section1 h4 {
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading {
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row {
  margin-top: 10%;
}
.how-img {
  text-align: center;
}
.how-img img {
  width: 100%;
}
