{% extends 'base.html'%}{% load static %}{% block footer%}{% endblock footer%}
{% block content %}
<style>
  body {
    background-image: url("/static/images/buddhaBg.jpg");
    /* background-position: center center; */
    background-size: cover;
  }
  .toggle {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background: white;
    color: black;
    border-radius: 4px;
    font-weight: bold;
  }
  .toggle:hover {
    background: white;
    border: 1px solid;
    color: black;
  }
</style>
<!-- user bio -->
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-sm-5 mx-5 px-5">
      {% if user.is_authenticated %}
      <!-- adding inline CSS -->
      <h4 style="color: white; margin-bottom: 25px">User Profile.</h4>
      <h1><strong class="text-light">{{user.username}}</strong></h1>
      <!-- bootstrap tablerow -->
      <table
        class="
          table table-condensed table-responsive table-user-information
          text-light
        "
      >
        <tbody>
          <tr>
            <h5><td>First Name:</td></h5>
            <h5><td>{{user.first_name}}</td></h5>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td>{{user.last_name}}</td>
          </tr>
          <tr>
            <td>Email :</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
      <div class="buttons">
        <a href="{% url 'hms:room_cat' %}"
          ><button type="button" class="toggle mt-3 mb-5 col-sm-4">
            Room Booking
          </button></a
        >
      </div>
      {% endif %}
    </div>
    <!-- User upload form -->

    <div class="col-sm-5 mx-5">
      <h4 style="color: white; margin-left: 50px">Upload Photo / video</h4>
      <form method="POST" enctype="multipart/form-data" class="py-5">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="Title"
              required
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              name="location"
              placeholder="location"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input
              type="file"
              class="form-control"
              name="photo"
              placeholder="Video"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <textarea
              name="description"
              class="form-control"
              placeholder="Description"
              required
              style="height: 100px"
            ></textarea>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <input type="submit" class="form-control" value="Upload" />
          </div>
          <div class="col">
            <input type="reset" class="form-control" value="Cancle" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- user uploaded section -->
<div class="container-fluid my-5 px-5">
  <div class="row">
    <div class="col-sm-6 px-5">
      <div class="user_uploads">
        <div class="container">
          <h3 style="color: white; display: inline-block; margin-bottom: 40px">
            Your Uploads...
          </h3>
          {% for data in photoData %}
          <div class="card mb-3" style="max-width: 540px">
            <div class="row no-gutters">
              <div class="col-md-4">
                <a href="{{data.file.url}}"
                  ><img src="{{data.file.url}}" class="card-img" alt="..."
                /></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Title: {{data.title}}</h5>
                  <p class="card-text">Description: {{data.description}}</p>
                  <p class="card-text">
                    <small class="text-muted"
                      >Uploaded by: {{data.user.username}}</small
                    >
                  </p>
                  <div class="row">
                    <div class="download">
                      <a
                        href="{{data.file.url}}"
                        class="btn btn-primary"
                        download
                        >Download</a
                      >
                    </div>

                    <div class="delete my-3">
                      <form action="delete/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{data.id}}" name="id" />
                        <button type="submit" class="btn btn-primary">
                          Delete
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- user booked section -->
    <div class="col-sm-6">
      <div class="user_content">
        <h3
          style="color: white; display: inline-block; margin-bottom: 40px"
        ></h3>
        <a href="#"
          ><h3 style="color: white; display: inline-block; margin-bottom: 40px">
            Your Booking ...
          </h3></a
        >
        {%for book in booking %}
        <div class="card my-4" style="width: 85%">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-info h5">
              {{book.user}} has booked {{book.room}}
            </li>
            <li class="list-group-item text-success h6">
              Check in: {{book.check_in}}
            </li>
            <li class="list-group-item text-success h6">
              Check out: {{book.check_out}}
            </li>
          </ul>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
