{% extends 'base.html'%}{% load static %}

<!-- -------------- Changing the content -------------- -->
{% block content %}
<!-- -------------- Applying Internal CSS -------------- -->
<link rel="stylesheet" href="/static/css/pages.css" />
<style>
  #background {
    background-image: url("/static/images/base.jpeg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    overflow: hidden;
    transition: 1s;
    z-index: -100;
  }
</style>
<div class="Explore"><h1>Explore Nepal.</h1></div>
<section class="about">
  <div class="container py-5">
    <div class="row my-5 py-3">
      <div class="about-text text-center py-5 col-md-10 col-sm-12 mx-auto">
        <h2 class="pb-3">once is not enough</h2>
        <h4 class="text-muted">
          Nepal could be a small country but it is blessed with natural
          beauties. It's also rich in unique cultural heritage. There are many
          beautiful Himalayan Ranges in Nepal. Within the same way, many
          beautiful lakes have taken place in numerous parts of the country.
        </h4>
      </div>
    </div>
  </div>
</section>
<!-- little bit content -->
<div class="container">
  <div class="how-section1">
    <div class="row">
      <div class="col-md-5 how-img mx-1">
        <img src="/static/images/buddha3.jfif" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6">
        <h4>Culture</h4>
        <h4 class="subheading">Diversity in Culture.</h4>
        <p class="text-muted">
          Culture in Nepal has been derived from the way of life in this Nation.
          Nepalese culture is one of a kind and is something to blend in and
          savour. Nepalese culture has been passed down from generation to
          generation. It is quite old, but one of the most intriguing ones that
          you will find! Nepal has a dash of diversity in all parts, geography,
          ethnicity, tradition, religion; making the culture of Nepal diverse
          too. The culture and tradition of Nepal is a culmination of its
          ethnicity, religions, values, and beliefs, tribal and social groups.
          Nepal's rich and diverse culture is reflected in its music, dance,
          art, literature, folklore and its language. It is a showcase of what
          the Nepalese lifestyle has to show and offer. <br />

          <br />
          Culture in Nepal is a symbol of the nation's wealthy, harmonized and
          diversified society.The Hindu, Buddhist and other cultural heritage
          sites of Nepal, and around the year fair weather are also strong
          attractions.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Natural</h4>
        <h4 class="subheading">Rich in Natural Beauty</h4>
        <p class="text-muted">
          Tourists come to go to the natural beauties each year. The people of
          Nepal are earning much money from giving many services to them and
          gain benefits. In Nepal tour and tourism help the Nepalese people for
          saving their family faces. Nepal could be a tremendously attractive
          location for mountaineers, rock, climbers, and adventure, seekers.
          Nepal's local lifestyle, its culture tradition historical heritage,
          and therefore the ever welcoming nature of Nepalese show an amazing
          prospect of tourism in Nepal. Here in Nepal, many resources are seeing
          for natural beauty. Our nation is extremely lucky to possess different
          natural beauties we will take fresh air. We are able to see and glance
          at the natural beauty of a sound body and a sound mind. So Nepal may
          be a beautiful natural country.<br />
          <br />
          Tourism is one of the mainstay of Nepalese economy. Nepal possessing 8
          of the 10 highest mountains in the world, Nepal is a hotspot
          destination for mountaineers, rock climbers and people seeking
          adventures.
        </p>
      </div>
      <div class="col-md-6 how-img">
        <img src="/static/images/himal.jpg" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 how-img my-3">
        <img src="/static/images/bunjee.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6">
        <h4>Sports</h4>
        <h4 class="subheading">Varities of Daring sports to Experience.</h4>
        <p class="text-muted">
          People always seek some form of change in their life. They want a
          short-term break from their routine works. For this, they leave their
          original places temporarily to visit new places and observe new
          things. In a sense, this kind of brief movement of people for
          recreational purposes and a wide range of services targeted for them
          can be termed as tourism. Many Tourists comes Nepal for adventure to
          have fun like, Jungle Safari,Mountain Flight, Rock Climbing,Mountain
          Biking, Ultralight Aircraft, Bungee Jumping, Hot Air Ballooning,
          Paragliding, Bird Watching, Rafting/Kayaking/Canyoning, Trekking,
          Mountain Climbing
        </p>
      </div>
    </div>
  </div>
</div>
<!-- container carsole -->
<section id="team" class="h-100">
  <div class="container py-2">
    <h1 class="text-center">Check Out Other Interesting Facts.</h1>
    <!-- Swiper -->
    <div class="swiper-container py-5">
      <div class="swiper-wrapper">
        <div class="swiper-slide col-lg-3 col-md-6 col-12">
          <img src="/static/images/helicopter.jpg" class="img-fluid" />
          <div class="text pt-2">
            <h3>Paragliding helicopter <br /></h3>
          </div>
        </div>
        <div class="swiper-slide col-lg-3 col-md-6 col-12">
          <img src="/static/images/rhino2.jpg" class="img-fluid" />
          <div class="text pt-2">
            <h3>One Horned Rhino <br /></h3>
          </div>
        </div>
        <div class="swiper-slide col-lg-3 col-md-6 col-12">
          <img src="/static/images/polo-re.jpg" class="img-fluid" />
          <div class="text pt-2">
            <h3>Elephant polo <br /></h3>
          </div>
        </div>
        <div class="swiper-slide col-lg-3 col-md-6 col-12">
          <img src="/static/images/mt2.jpg" class="img-fluid" />
          <div class="text pt-2">
            <h3>Mount Everest<br /></h3>
          </div>
        </div>
        <div class="swiper-slide col-lg-3 col-md-6 col-12">
          <img src="/static/images/kumari.jpg" class="img-fluid" />
          <div class="text pt-2">
            <h3>Living Godess <br /></h3>
          </div>
        </div>
        <div class="swiper-slide col-lg-3 col-md-6 col-12">
          <img src="/static/images/snow_leopard.jpg" class="img-fluid" />
          <div class="text pt-2">
            <h3>Snow leopard <br /></h3>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
<!-- Bottom content -->
<div class="row -md m-3">
  <div class="col-lg-6 mx-auto">
    <h6 class="text-center">This is Nepal</h6>
    <!-- Solid divider -->
    <hr class="solid" />
    <div class="text-center">
      <p>
        It is unsurpassed that the sheer diversity Nepal boasts, from steamy
        jungle and Terai to the icy peaks of the world’s highest mountains means
        that the range of activities on offer. Trekking, mountaineering, rafting
        in spectacular scenery are not just three things Nepal is famous for.
        Activities as diverse as Elephant Polo, paragliding, Bunjee jumpine.
        Nepal is one of the last places on earth you can spot the Asiatic one
        horn rhinoceros and the Royal Bengal Tiger.
      </p>
    </div>
  </div>
</div>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".swiper-container", {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 1,
    centeredSlides: true,
    loop: true,
    loopFillGroupWithBlank: true,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

{% endblock content %}
