{% extends 'base.html'%}{% load static %}{% block content %}
<style>
  body{
    background-color: rgb(71, 72, 73);
  }
</style>
<head>
  <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
</head>
<div class="container my-5">
  <body>
  <div class="chat-container"></div>

  <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
  <script type="text/javascript">
    var chatroom = new window.Chatroom({
      host: "http://localhost:5005",
      title: "Chat with Zazman bot",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Hi, I am here to assist you. How can i help you",
    });
    chatroom.openChat();
  </script>
</body>
</div>
{%endblock%}